## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [ ]:
base=7
exponent=4
result=pow(base,exponent)
print(result)

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [ ]:
txt="Hi there Sam!"
x=txt.split()
print(x)

['Hi', 'there', 'Sam!']

In [ ]:
txt="Hi there dad!"
x=txt.split()
print(x)

['Hi', 'there', 'dad!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [ ]:
planet="Earth"
diameter=12742
print("The diameter of {} is {} kilometers.".format(planet,diameter))

The diameter of Earth is 12742 kilometers.

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
print(lst[3][1][2][0])

hello

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

** What is the main difference between a tuple and a list? **

In [ ]:
#Tuples is immutable
#Tuples operations are safe.
#Tuples consumes less memory.

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [ ]:
def domainGet(email):
    return email.split('@')[-1]
domainGet('user@domain.com')
print('domain.com')

domain.com

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [ ]:
def findDog(st):
    if 'dog' in st.lower():
      print("True")
    else:
      print("False")
st = "Is there a dog here?"
findDog(st)

True

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [ ]:
value='This dog runs faster then the other dog dude!';
def countdogs(value):
  count = 0
  for word in value.lower().split():
      if word== 'dog' or word== 'dogs':
         count = count+1 
         print(count)
countdogs(value)

1
2

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [ ]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [ ]:
caught_speeding(81,False)

'Big Ticket'

In [ ]:
caught_speeding(81,True)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [ ]:
employee_names =["emp1","emp2","emp3","emp4","emp5"]
employee_salaries={}
for employee in employee_names:
    while True:
      try:
        employee_salaries[employee]= int(input(f"Enter{employee} salary:"))
        break
      except valueError:
        print("invalid input")
print(employee_salaries)
total=sum(employee_salaries.values())
print("total salary is :",total)

Enteremp1 salary:1000
Enteremp2 salary:2000
Enteremp3 salary:3000
Enteremp4 salary:4000
Enteremp5 salary:5000
{'emp1': 1000, 'emp2': 2000, 'emp3': 3000, 'emp4': 4000, 'emp5': 5000}
total salary is : 15000

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [ ]:
dict1={'Empid':30,'empname':'prasath','Basicpay':50000}
dict2={'deptname':'cse','depid':112}
z = {**dict1,**dict2}
print(z)

{'Empid': 30, 'empname': 'prasath', 'Basicpay': 50000, 'deptname': 'cse', 'depid': 112}